
html {
    font-family: "nexa", sans-serif;
    background-color: white;
}

body {
    background-color: white;
    display:grid
}

h1 {
    font-family: sans-serif;
    color: #00d66c;
    font-size: 2.5em;/* 40px/16=2.5em */
}

h2 {
    font-size: 2em; /* 36px/36px=2em */
    color: #2800a0;
}

h3 {
    font-size: 1.5em;/* 24px/24px=1.5em*/
    color: #ff3268;
}

p {
    font-size: 1em; /* 16px/16=1em */
    line-height: normal;
    word-spacing: normal;
    word-break: keep-all;
    line-height: 1,2em;
}

aside {
  -webkit-columns: 2 200px;
     -moz-columns: 2 200px;
          columns: 2 200px;
  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
  -webkit-column-rule: 1px dotted #ddd;
     -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
}

coloms
